.name {
  max-height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  padding: 2px;
  cursor: pointer;
}

.image {
  display: block;
  margin: auto;
  width: 200px;
  height: 120px;
  margin: 10px;
}

.outOfStock {
  background-color: rgb(226, 226, 226);
  cursor: auto;
}

.outOfStock img {
  opacity: 0.4;
}
