.Ingredient {
  background-color: white;
  border-radius: 10px;
  height: 180px;
  cursor: pointer;
}

.Ingredient > img {
  display: block;
  margin: auto;
  width: 150px;
  height: 90px;
  margin: 10px auto;
}

.Ingredient.selected {
  background-color: blanchedalmond;
}