.panel {
  background-color: white;
  border-radius: 10px;
  height: 180px;
  cursor: pointer;
}

.panel p, .outOfStock.selected p{
  visibility: hidden;
}

.image {
  display: block;
  margin: auto;
  width: 150px;
  height: 90px;
  margin: 10px auto;
}

.selected, .outOfStock.selected {
  background-color: blanchedalmond;
  cursor: pointer;
}

.outOfStock {
  background-color: rgb(226, 226, 226);
  cursor: auto;
}

.outOfStock.selected img {
  opacity: 1;
}

.outOfStock img {
  opacity: 0.4;
}

.outOfStock p {
  color: #ee5e5e;
  visibility: visible;
}