.Ingredient {
  background-color: white;
  border-radius: 10px;
  height: 180px;
  /* padding: 2px; */
}

.Ingredient > img {
  display: block;
  margin: auto;
  width: 150px;
  height: 90px;
  margin: 10px auto;

  /* margin: auto;
  border-radius: 10px;
  width: 100%;
  height: auto; */
}

.Ingredient.selected {
  background-color: blanchedalmond;
}