.menu_btn {
  text-align: center;
  background-color: rgb(113, 120, 226);
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  border-radius: 25px;
  margin: auto;
  cursor: pointer;
}