#Order {
  position: fixed;
  right: 0;
  top: 0;
  /* bottom: 0; */
  z-index: 1;

  height: 100%;
  /* background-color: rgb(226, 224, 198); */
  background-color: white;
  padding: 60px 40px;

}

#Order ul {
  list-style: none;
}

#Order.side-bar {
  width: 25%;

}
#Order.side-bar > .checkout-button {
  display: none;
}

#Order.checkout {
  width: 100%;
}