#Order {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#Order ul {
  list-style: none;
}

#Order.side-bar {
  width: 32%;

}
#Order.side-bar > .checkout-button {
  display: none;
}

#Order.checkout {
  width: 100%;
}