.menu_container {
  max-width: 1000px;
  position: relative;
  padding-top: 40px;
  margin: auto;
}

a {
  text-decoration: none!important;
}

.submit {
  padding-top: 20%;
}

.order_num_panel {
  background-color: white;
  border-radius: 20px;
}

.order_num {
  margin: 0px 200px;
  background-color: blanchedalmond;
}