#menu-container {
  max-width: 1000px;
  position: relative;
  padding-top: 40px;
  margin: auto;
}

#Menu a {
  text-decoration: none!important;
}

.panel {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 180px;
  cursor: pointer;
  text-decoration: none; 
}

.panel > img {
  display: block;
  margin: auto;
  width: 150px;
  height: 90px;
  margin: 10px auto;
}

.panel > h2 {
  color: black;
}

#submit {
  padding-top: 20%;
}

#order-num-panel {
  background-color: white;
  border-radius: 20px;
}

#order-num {
  margin: 0px 200px;
  background-color: blanchedalmond;
}