#Start {
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Start .start-btn {
  text-align: center;
  background-color: rgb(113, 120, 226);
  color: white;
  width: 300px;
  height: 80px;
  font-size: 50px;
  border-radius: 40px;
  margin: auto;
  cursor: pointer;
}

#Start a {
  text-decoration: none;
}